@use "global"as *;

// button
.c-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24rem;
  height: 5rem;
  color: #fff;
  background: $color_light-orange;
  border-radius: 2.5rem;
  position: relative;
  line-height: 1.25;
  font-weight: bold;
  border: 2px solid $color_light-orange;
  padding: 0;
  margin: 0;
  font-family: inherit;
  cursor: pointer;
  @include fontsize(16, 16);

  & {
    @include hover;
  }

  &.-brown {
    background: $color_light-brown;
    border-color: $color_light-brown;
  }

  &.-white {
    color: $color_light-brown;
    background: #fff;
    border-color: #fff;

    &.-circle-right {
      &::after {
        color: $color_light-brown;
      }
    }
  }

  &.-orange-rev {
    background: #fff;
    color: $color_light-orange;
  }

  &.-brown-rev {
    background: #fff;
    color: $color_dark-brown;
    border-color: $color_dark-brown;
  }

  &.-circle-right {
    &::after {
      content: '\f138';
      color: #fff;
      font-size: 1.8rem;
      right: 1.1rem;
      @include fontAwesome__sol;
      @include center(y);
    }
  }
}

.c-tooltip {
  text-decoration: underline;
  cursor: pointer;
  position: relative;

  &::after {
    content: '\f059';
    display: inline-block;
    color: $color_light-orange;
    @include fontAwesome__reg;
  }
}

.tippy-box[data-theme~='white'] {
  background: #fff;
  line-height: 1.5;
  filter: drop-shadow(0 0 10px rgb(0 0 0 / .3));
  color: $color_font;
  padding: 2rem;
  border-radius: 1rem;
  @include fontsize(14, 14);

  &::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 50%;
    width: 2rem;
    height: 1rem;
    transform: translateX(-50%);
    background: #fff;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  }
}

// heading
.c-h2 {
  color: $color_dark-brown;
  font-weight: bold;
  @include fontsize(18, 28);
}

.c-h3 {
  color: $color_dark-brown;
  font-weight: bold;
  @include fontsize(18, 22);
}

// box
.c-white-box-s {
  background: #fff;
  border-radius: 1rem;

  @include media(tb) {
    border-radius: 3rem;
  }
}

.c-white-box-l {
  background: #fff;
  border-radius: 1rem;
  padding: 2.5rem;

  @include media(tb) {
    border-radius: 3rem;
    padding: 4.5rem 5rem 5rem;
  }

  >picture {
    margin-top: 1.5rem;

    @include media(tb) {
      margin-top: 3rem;
    }
  }

  &__h1 {
    line-height: 1.56;
    text-align: center;
    margin-bottom: 2rem;

    @include media(tb) {
      margin-bottom: 3rem;
    }
  }

  &__wrapper {
    padding-bottom: 3rem;

    @include media(tb) {
      padding-bottom: 5rem;
    }
  }
}

.c-small-box-list {
  display: flex;
  flex-direction: column;
  gap: 2rem 0;
  padding-bottom: 4rem;

  @include media(tb) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4rem 4rem;
    padding-bottom: 6rem;
  }

  >* {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    padding: 2.5rem 2.5rem 3rem;

    @include media(tb) {
      border-radius: 3rem;
      width: calc((100% - 4rem) / 2);
      padding: 3.5rem 4.5rem 3rem;
    }

    .c-btn {
      margin-top: auto;
    }
  }

  &__h1 {
    text-align: left;
    margin-bottom: 1.5rem;
    width: 100%;

    @include media(tb) {
      margin-bottom: 1rem;
    }
  }

  &__txt-box {
    margin-bottom: 2.5rem;

    p {
      &+p {
        margin-top: 1.5em;
      }
    }
  }
}

.c-list {
  li {
    display: flex;
  }

  &.-margin {
    margin: 1.5em 0;

    @include media(tb) {
      margin: 1em 0;
    }
  }
}

.c-flex {
  display: flex;
  margin-top: 1.5em;

  @include media(tb) {
    margin-top: 1em;
  }
}

.c-note {
  line-height: 1.6;
  margin-top: 1.5rem;
  @include fontsize(10, 12);

  @include media(tb) {
    text-align: center;
  }
}

.c-form {
  padding: 2rem 0 4rem;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  #wpmem_reg legend {
    display: none;
  }

  &__box {
    border-radius: 1rem;
    background: #fff;
    padding: 2rem 1.8rem;
    text-align: center;

    @include media(tb) {
      padding: 3.5rem 6rem 2.5rem;
      border-radius: 3rem;
    }
  }
}