@use "global"as *;

// header
.p-hdr {
  background: $color_orange-gray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6rem;

    @include media(header) {
      height: 10rem;
    }
  }

  h1 {
    @include fontsize(31, 36);

    a {
      color: $color_font;
      @include hover;
    }
  }

  h1 {
    @include fontsize(31, 36);

    a {
      color: $color_font;
      @include hover;
    }
  }

  &__btn {
    background: none;
    margin: 0;
    padding: 0;
    border: none;
    appearance: none;
    cursor: pointer;
    color: $color_dark-brown;

    @include media(header) {
      display: none;
    }

    &::after {
      content: '\f0c9';
      font-size: 2.8rem;
      @include fontAwesome__sol;
    }

    &.active {
      &::after {
        content: '\f00d';
      }
    }
  }
}

.p-gnav {
  display: none;
  position: fixed;
  top: 6rem;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include media(header) {
    display: block;
    position: static;
    width: auto;
    overflow: visible;
  }

  &__inner {
    background: #fff;

    @include media(header) {
      background: transparent;
      display: flex;
      align-items: center;
    }
  }

  &__list {
    @include media(header) {
      display: flex;
      align-items: center;
      gap: 0 2rem;
    }

    >li {
      position: relative;

      &:hover {
        @include media(header) {
          .p-gnav__sub-list {
            visibility: visible;
            opacity: 1;
          }

          .p-gnav__parent {
            button {
              &::after {
                transform: rotate(180deg) translateY(50%);
              }
            }
          }
        }
      }
    }

    a {
      color: $color_font;
    }
  }

  &__parent {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color_light-gray;

    @include media(header) {
      border-bottom: none;
      width: auto;
    }

    >a {
      font-size: 1.6rem;
      padding: 1.5rem 1rem;
      display: block;

      @include media(header) {
        padding: 1.5rem 0.5rem 1.5rem 1rem;
      }

      & {
        @include hover;
      }
    }

    button {
      height: 6.2rem;
      width: 6.2rem;
      cursor: pointer;
      appearance: none;
      border: none;
      margin: 0;
      background: none;
      display: block;
      position: relative;

      @include media(header) {
        height: auto;
        width: auto;
      }

      &::after {
        content: '\f107';
        right: 2rem;
        color: $color_dark-orange;
        font-size: 1.6rem;
        transition: transform 0.3s;
        transform-origin: 50% 50%;
        @include fontAwesome__sol;
        @include center(y);

        @include media(header) {
          right: 0;
        }
      }

      &.active {
        &::after {
          transform: rotate(180deg) translateY(50%);
        }
      }
    }
  }

  &__sub-list {
    display: none;
    border-bottom: 1px solid $color_light-gray;

    @include media(header) {
      display: block;
      visibility: hidden;
      opacity: 0;
      transition: all .3s;
      position: absolute;
      bottom: 0;
      left: 1rem;
      width: auto;
      padding: 1rem 1.5rem 1rem 2.5rem;
      background: #fff;
      border-radius: 1rem;
      transform: translateY(100%);
      filter: drop-shadow(0 0 10px rgb(0 0 0 / .3));
      border-bottom: none;
    }

    &::before {
      @include media(header) {
        content: '';
        position: absolute;
        left: 3rem;
        top: -1rem;
        width: 2.1rem;
        height: 1.1rem;
        background: #fff;
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
      }
    }

    >li {
      >a {
        display: block;
        padding: 1.2rem 1rem 1.1rem 0;
        margin-left: 3rem;
        position: relative;
        white-space: nowrap;

        @include media(header) {
          margin-left: 0;
          padding: 0.4rem 1rem 0.4rem 1.5rem;
        }

        & {
          @include hover;
        }

        &::after {
          content: '\f107';
          color: $color_dark-orange;
          position: absolute;
          transform: rotate(-90deg);
          top: 1rem;
          right: 2rem;
          @include fontAwesome__sol;

          @include media(header) {
            top: 0.5rem;
            right: auto;
            left: 0;
          }
        }
      }

      &+li {
        a {
          border-top: 1px solid $color_light-gray;

          @include media(header) {
            border-top: none;
          }
        }
      }
    }
  }

  &__bg {
    background: rgba($color:#555555, $alpha: 0.8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 8;
    display: none;
  }

  &__btn-box {
    padding: 2rem 0 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 1rem;

    a {
      width: 14rem;
    }
  }

  &__expert {
    background: $color_light-orange;
    border-bottom: 1px solid $color_light-gray;

    @include media(header) {
      border-bottom: none;
    }

    a {
      color: #fff;
      padding: 1.5rem 1rem;
      display: block;
      font-size: 1.6rem;

      @include media(header) {
        padding: 0.3rem 1rem;
      }

      & {
        @include hover;
      }
    }
  }
}

// page
.p-front-mv {
  width: min(100%, 108.6rem);
  margin: 0 auto;
  padding-bottom: 3.5rem;

  @include media(tb) {
    padding: 5rem 0 0;
    position: relative;
  }

  &__img {
    width: 100%;

    @include media(tb) {
      width: 63%;
      margin-left: auto;
    }
  }

  &__txt-box {
    margin: 1rem $width-m-sp 0;

    @include media(tb) {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }

    h2 {
      color: $color_dark-brown;
      line-height: 1.19;
      font-weight: bold;
      margin-bottom: 0.8rem;
      @include fontsize(36, 60);

      @include media(tb) {
        margin-bottom: 4rem;
      }
    }

    p {
      @include fontsize(14, 22);

      @include media(tb) {
        line-height: 1.9;
      }
    }
  }
}

.p-front-sec {
  padding: 0 0 5rem;
  overflow: hidden;

  @include media(tb) {
    padding: 12rem 0 8rem;
  }

  &__h1 {
    color: $color_dark-brown;
    font-weight: bold;
    @include fontsize(24, 28);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 2.5rem 0;

    @include media(tb) {
      flex-direction: row;
      gap: 0 3.6rem;
    }

    &+& {
      margin-top: 5rem;

      @include media(tb) {
        margin-top: 9rem;
      }
    }

    &:nth-of-type(odd) {
      @include media(tb) {
        flex-direction: row-reverse;
      }

      .p-front-sec__txt-box {
        &::before {
          left: -1.5rem;
          top: -1.1rem;
          background: url('../images/top/bg-circle-01.svg') no-repeat left top / contain;

          @include media(tb) {
            left: -10.5rem;
            top: -3rem;
          }
        }
      }
    }

    &:nth-of-type(even) {
      .p-front-sec__txt-box {
        &::before {
          right: -1.5rem;
          top: -1.5rem;
          background: url('../images/top/bg-circle-02.svg') no-repeat right top / contain;

          @include media(tb) {
            right: -10.5rem;
            top: -3rem;
          }
        }
      }
    }

    figure {
      margin: 0 -0.5rem;

      @include media(tb) {
        margin: 0;
        width: 48%;
      }
    }
  }

  &__txt-box {
    text-align: center;
    position: relative;
    padding: 0 1rem;

    @include media(tb) {
      text-align: left;
      flex: 1;
      display: flex;
      flex-direction: column;
      padding: 0;
    }

    &::before {
      content: '';
      position: absolute;
      width: 15rem;
      height: 100%;

      @include media(tb) {
        width: 25rem;
      }
    }

    h3 {
      font-weight: bold;
      color: $color_dark-brown;
      text-align: left;
      margin-bottom: 2rem;
      position: relative;
      line-height: 1.5;
      @include fontsize(20, 22);
    }

    p {
      position: relative;

      &+p {
        margin-top: 2em;
      }
    }
  }

  &__btn {
    margin-top: 2.5rem;

    @include media(tb) {
      margin-top: auto;
    }
  }
}

.p-news-col {
  padding: 2.7rem 0 4rem;
  text-align: center;

  @include media(tb) {
    padding: 3rem 0 5rem;
  }

  &__list {
    margin: 1.8rem 0 3rem;
    border-top: 1px solid $color_beige;

    @include media(tb) {
      margin: 1.5rem 0 4rem;
    }

    &.-archive {
      background: #fff;
    }

    li {
      border-bottom: 1px solid $color_beige;

      a {
        display: block;
        padding: 1.3rem 5.5rem 1.3rem 0.8rem;
        position: relative;

        @include media(tb) {
          padding: 1rem 15% 2rem 1.5rem;
        }

        & {
          @include hover;
        }

        &::after {
          content: '\f138';
          color: $color_light-orange;
          right: 1rem;
          @include fontAwesome__sol;
          @include center(y);
          @include fontsize(20, 24);

          @include media(tb) {
            right: 2.5rem;
          }
        }
      }

      time {
        font-weight: bold;
        color: $color_dark-brown;
        @include fontsize(16, 18);
      }

      p {
        color: $color_font;
      }
    }
  }
}

.p-column-slide {
  text-align: center;
  padding: 2.8rem 2rem 4rem;

  @include media(tb) {
    padding: 3.5rem 0 5.5rem;
  }

  &__list {
    margin: 1.8rem 0 3rem;

    li {
      figure {
        aspect-ratio: 300 / 220;
        border-radius: 1rem;
        overflow: hidden;
        margin-bottom: 1.6rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      time {
        color: $color_dark-brown;
        font-weight: bold;
        @include fontsize(16, 18);
      }

      p {
        color: $color_font;
      }
    }
  }
}

.p-front-info {
  text-align: center;
  padding: 3rem 0 3.7rem;

  @include media(tb) {
    padding: 5rem 0 4.5rem;
  }

  &__h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    @include fontsize(24, 24);
  }

  &__txt1 {
    color: #fff;

    @include media(tb) {
      text-align: center;
    }
  }

  &__box {
    background: #fff;
    border-radius: 1.8rem;
    padding: 2.5rem;
    margin: 2rem 0 3.5rem;

    @include media(tb) {
      padding: 3.5rem 5.5rem 3rem;
      margin: 2.5rem 0 3rem;
    }
  }

  &__item {
    &+& {
      margin-top: 2.5rem;

      @include media(tb) {
        margin-top: 3rem;
      }
    }
  }

  &__h2 {
    font-weight: bold;
    color: $color_dark-brown;
    line-height: 1.55;
    margin-bottom: 1.2rem;
    @include fontsize(18, 20);

    @include media(tb) {
      margin-bottom: 2rem;
    }
  }

  &__list {

    li {
      padding-left: 1.5rem;
      position: relative;

      &::before {
        content: '・';
        display: inline-block;
        @include absolute($top:0, $left:0);
      }
    }
  }
}

.p-single-news {
  padding: 2rem 0 3rem;

  @include media(tb) {
    padding: 1rem 0 5rem;
  }

  &__contents {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color_dark-brown;
      font-weight: bold;
      line-height: 1.5;

      @include fontsize(18, 24);
    }

    h1 {
      margin-bottom: 0.8em;

      @include media(tb) {
        margin-bottom: 0.5em;
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0.4em;
    }

    time {
      color: $color_dark-brown;
      font-weight: bold;
      display: block;
      line-height: 1;
      margin-bottom: 1em;
      @include fontsize(16, 18);
    }

    p {
      line-height: 1.86;
      margin-bottom: 1.5em;
    }

    img {
      max-width: 100%;
      width: auto;
      margin: 1em 0;
    }

    ul {
      list-style-type: disc;
      margin-left: 2em;
      margin-bottom: 1.5em;
    }

    ol {
      list-style-type: decimal;
      margin-left: 2em;
      margin-bottom: 1.5em;
    }

    a {
      color: $color_dark-orange;
      text-decoration: underline;
      @include hover;
    }

    table {
      margin-bottom: 1.5em;

      td,
      th {
        border: 1px solid #999999;
        padding: 0.5rem 1rem;
      }
    }
  }
}

.p-mv {
  display: grid;
  grid-template-columns: auto 46%;
  grid-template-rows: repeat(3, auto);
  grid-template-areas: "tag img"
    "ttl img"
    "txt txt";
  column-gap: 1rem;
  align-content: start;
  padding: 1.5rem 0.5rem 2rem;
  min-height: 34rem;

  @include media(tb) {
    grid-template-columns: 1fr 36%;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: "tag img"
      "ttl img"
      "txt img";
    padding: 0;
    column-gap: 2rem;
    min-height: 33rem;
  }

  &.-parent-page {
    grid-template-rows: repeat(2, auto);
    grid-template-areas: "ttl img"
      "txt txt";

    @include media(tb) {
      grid-template-rows: auto 1fr;
      grid-template-areas: "ttl img"
        "txt img";
    }
  }

  &.-learn {
    grid-template-columns: auto 35%;

    @include media(tb) {
      grid-template-columns: 62% 28%;
      column-gap: 10%;
    }
  }

  &.-treatment {
    grid-template-columns: auto 35%;

    @include media(tb) {
      grid-template-columns: 62% 29%;
      column-gap: 9%;
    }
  }

  &.-resources {
    grid-template-columns: auto 35%;

    @include media(tb) {
      grid-template-columns: 62% 30%;
      column-gap: 8%;
    }
  }

  &.-expert {
    grid-template-columns: auto 35%;
    color: #fff;

    @include media(tb) {
      grid-template-columns: 64% 28%;
      column-gap: 8%;
    }

    .p-mv__ttl {
      color: #fff;
    }

  }


  &__tag {
    grid-area: tag;
    font-weight: bold;
    color: #fff;
    background: $color_light-brown;
    line-height: 1;
    padding: 0.2rem 0.8rem;
    display: inline-block;
    justify-self: flex-start;
    align-self: flex-start;
    border-radius: 1.2rem;
    margin-bottom: 2rem;
    @include fontsize(12, 18);

    @include media(tb) {
      padding: 0.3rem 2rem;
      margin-top: 3.5rem;
    }

    &.-expert {
      background: #fff;
      color: $color_light-brown;
    }
  }

  &__ttl {
    grid-area: ttl;
    font-weight: bold;
    color: $color_dark-brown;
    line-height: 1.2;
    margin-top: -1.5rem;
    @include fontsize(20, 30);

    @include media(tb) {
      margin-top: 0;
    }

    &.-large {
      margin-top: 4rem;
      @include fontsize(20, 36);

      @include media(tb) {
        margin-top: 7rem;
      }
    }
  }

  &__txt {
    grid-area: txt;
    margin-top: 1rem;

    @include media(tb) {
      margin-top: 2rem;
      word-break: normal;
    }
  }

  &__img {
    grid-area: img;
    align-self: center;
  }
}

.p-breadcrumb {
  padding: 0.8rem 0 0;
  min-height: 5.6rem;
  @include fontsize(12, 14);

  a {
    color: $color_font;
    @include hover;
  }

  i {
    margin: 0 0.3rem;
    color: $color_dark-orange;
  }
}

// abt = about
.p-abt-intro {
  padding: 0rem 0 3rem;
  text-align: center;

  @include media(tb) {
    padding: 1.5rem 0 5rem;
  }

  &__sec {
    margin-bottom: 4rem;

    @include media(tb) {
      margin-bottom: 7rem;
    }
  }

  &__h1 {
    margin-bottom: 2rem;

    @include media(tb) {
      margin-bottom: 1.3rem;
    }
  }

  &__btn {
    margin-top: 2.5rem;

    @include media(tb) {
      margin-top: 3.5rem;
    }
  }

  &__list {
    border-top: 1px solid $color_beige;
    margin-top: 1.5rem;
    @include fontsize(12, 14);

    @include media(tb) {
      margin: 1rem 0;
    }

    li {
      border-bottom: 1px solid $color_beige;
      padding: 1rem 0 1.1rem;
      display: flex;
      gap: 0 0.5rem;
      line-height: 1.67;
      text-align: left;

      @include media(tb) {
        padding: 1rem 0 1.2rem;
      }

      &::before {
        content: '';
        width: 0.7rem;
        height: 0.7rem;
        border-radius: 50%;
        background: $color_dark-brown;
        flex-shrink: 0;
        margin-top: 0.7rem;
      }
    }
  }

  &__box {
    padding: 2.5rem 2.5rem 3rem;

    @include media(tb) {
      padding: 3.5rem 4.5rem 2.5rem;
    }

    &+& {
      margin-top: 3rem;

      @include media(tb) {
        margin-top: 4rem;
      }
    }
  }

  &__h2 {
    margin-bottom: 1.5rem;

    @include media(tb) {
      margin-bottom: 1rem;
    }
  }
}

.p-abt-howto {
  padding: 2.5rem 0 4rem;
  text-align: center;

  @include media(tb) {
    padding: 4.2rem 0 4rem;
  }

  &__sec {
    padding: 0 0.5rem;
  }

  &__h1 {
    margin-bottom: 1.5rem;

    @include media(tb) {
      margin-bottom: 0.5rem;
    }
  }

  &__txt {
    @include media(tb) {
      text-align: center;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 2rem 3rem;
    margin: 2.5rem 1.8rem 0;

    @include media(tb) {
      flex-direction: row;
      margin: 3.5rem 0 0;
    }

    li {
      text-align: center;
    }

    img {
      border-radius: 1rem;
      margin-bottom: 1.8rem;
      background: $color_orange-gray;
    }

    p {
      margin-top: 1.5rem;

      @include media(tb) {
        margin-top: 0.8rem;
      }
    }
  }
}

.p-abt-common {
  padding: 2.8rem 0 4rem;

  @include media(tb) {
    padding: 3rem 0 5rem;
  }

  &__h1 {
    color: #fff;
    margin-bottom: 1.5rem;
    text-align: center;

    @include media(tb) {
      margin-bottom: 0.5rem;
    }
  }

  &__txt-box {
    margin-bottom: 2.5rem;
    color: #fff;

    @include media(tb) {
      margin-bottom: 1.5rem;
    }

    p {
      @include media(tb) {
        text-align: center;
      }

      &+p {
        margin-top: 1.5em;
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 3.5rem 3rem;
    padding: 0 1.8rem;

    @include media(tb) {
      flex-direction: row;
      padding: 0;
    }

    li {
      text-align: center;

      img {
        border-radius: 1rem;
        margin-bottom: 1.5rem;
        background: #fff;
      }
    }
  }

  &__btn {
    width: 26rem;
  }
}

.p-thought-intro {
  padding-bottom: 3rem;

  @include media(tb) {
    padding-bottom: 5rem;
  }

  &__note {
    text-align: right;
    margin-top: 3rem;

    @include media(tb) {
      margin-top: 2.5rem;
      line-height: 1.5;
    }

    p {
      display: inline-block;
    }
  }
}

.p-thought-mem {
  padding: 2.5rem 0 4rem;
  text-align: center;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__txt {
    text-align: left;
    margin: 1.5rem 0 1.7rem;

    @include media(tb) {
      text-align: center;
      margin: 2rem 0 3.7rem;
    }
  }

  &__table {
    width: 100%;

    tr {
      display: block;
      text-align: left;
    }

    th {
      display: block;
      background: $color_beige;
      color: #fff;
      font-weight: bold;
      padding: 0.7rem 1rem;

      @include media(tb) {
        padding: 0.5rem 1rem;
      }
    }

    td {
      display: block;
      padding: 0.7rem 2rem;

      @include media(tb) {
        padding: 0.4rem 2rem;
      }

      &:nth-of-type(even) {
        background: $color_orange-gray;
      }
    }
  }
}

.p-privacy-intro {
  padding: 2.5rem 0 4rem;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__sec {
    dl {
      &:nth-of-type(n+2) {
        margin-top: 3rem;

        @include media(tb) {
          margin-top: 4rem;
        }
      }

      &:last-of-type {
        dt {
          margin-left: 0;
        }
      }

      dt {
        font-weight: 600;
      }

      dd {
        margin-left: 1em;
      }
    }

    ul {
      li {
        text-indent: -1em;
        margin-left: 1em;
      }
    }
  }

}

.p-sitepolicy-intro {
  padding: 2.5rem 0 4rem;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__sec {
    >p {
      &:nth-of-type(n+2) {
        margin-top: 3rem;

        @include media(tb) {
          margin-top: 4rem;
        }
      }
    }

    dl {
      margin-top: 3rem;

      @include media(tb) {
        margin-top: 4rem;
      }

      dt {
        font-weight: 600;
      }

      dd {
        margin-left: 1em;

        p {
          &:nth-of-type(n+2) {
            margin-top: 3rem;

            @include media(tb) {
              margin-top: 4rem;
            }
          }
        }
      }
    }

    ul {
      li {
        text-indent: -1em;
        margin-left: 1em;
      }
    }

  }

}


.p-table-2col {
  &+& {
    margin-top: 2.5rem;

    @include media(tb) {
      margin-top: 5rem;
    }
  }

  &__h {
    text-align: center;
    font-weight: bold;
    color: $color_dark-brown;
    margin-bottom: 1rem;
    line-height: 1.33;
    @include fontsize(18, 24);

    @include media(tb) {
      margin-bottom: 1.5rem;
    }
  }

  &__table {
    width: 100%;
    color: #707070;

    tr {
      &:nth-of-type(odd) {

        td {
          background: $color_orange-gray;
        }
      }
    }

    th,
    td {
      width: 50%;
      vertical-align: middle;
      line-height: 1.33;
      @include fontsize(12, 16);

      @include media(tb) {
        line-height: 1.75;
      }
    }

    th {
      background: $color_light-brown;
      color: #fff;
      text-align: left;
      padding: 0.7rem 1rem;

      @include media(tb) {
        padding: 0.6rem 1rem;
      }

      &+th {
        border-left: 1px solid #fff;
      }
    }

    td {
      padding: 0.7rem 1rem;

      @include media(tb) {
        padding: 0.6rem 2rem;
      }

      &+td {
        border-left: 1px solid $color_beige;
      }
    }
  }
}

.p-abt-trauma {
  padding: 3rem 0;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__h1 {
    text-align: center;
    line-height: 1.75;
    margin-bottom: 2rem;

    @include media(tb) {
      margin-bottom: 2.5rem;
    }
  }

  &__txt-box {
    margin-bottom: 2.5rem;

    @include media(tb) {
      margin-bottom: 3.5rem;
    }

    p+p {
      margin-top: 1.5em;
    }
  }

  >picture {
    width: 93%;
    margin: 2rem auto 0;

    @include media(tb) {
      width: 100%;
      margin-top: 4rem;
    }
  }
}

.p-tab-box {
  background: $color_orange-gray;
  border-radius: 1rem;
  padding: 1.5rem 1.5rem 3rem;
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  text-align: center;

  @include media(tb) {
    border-radius: 3rem;
    padding: 4rem 5rem;
    margin-left: 0;
    margin-right: 0;
  }

  &.-doc-list {
    @include media(tb) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__tab-list {
    height: 4rem;
    border-radius: 2.5rem;
    display: flex;
    justify-content: space-around;
    background: #fff;

    &:last-of-type {
      margin-bottom: 2.5rem;
    }

    @include media(tb) {
      height: 5rem;
    }

    li {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: inherit;
      color: $color_light-brown;
      font-weight: bold;
      text-align: center;
      padding: 0 1rem;
      cursor: pointer;
      transition: background 0.3s, color 0.3s;
      @include fontsize(12.5, 16);

      &:hover,
      &.active {
        background: $color_light-brown;
        color: #fff;
      }
    }

    &.-fixed-padding {
      @include media(tb) {
        display: inline-flex;
        justify-content: center;
      }

      li {
        @include media(tb) {
          padding: 0 3rem;
        }
      }
    }

    &.-fixed-width {
      display: inline-flex;
      justify-content: center;

      li {
        width: 10.5rem;

        @include media(tb) {
          width: 14rem;
        }
      }
    }
  }

  &__h1 {
    margin-bottom: 1.5rem;

    @include media(tb) {
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
    }
  }

  &__h2 {
    text-align: left;
    margin-bottom: 1.5rem;

    @include media(tb) {
      font-size: 2rem;
      margin-bottom: 0.5rem;
    }
  }

  &__btn-box {
    margin-top: 2.5rem;
    text-align: center;

    @include media(tb) {
      margin-top: 2rem;
    }
  }

  &__item {
    padding: 0 1rem;
    display: none;

    @include media(tb) {
      padding: 0;
    }

    &.active {
      display: block;

      .p-tab-box__inner {
        animation: fadeinAnime 2s forwards;
      }
    }
  }

  &__top-txt {
    margin-bottom: 3.5rem;

    @include media(tb) {
      margin-bottom: 6rem;
    }
  }

  &__btm-txt {
    margin-top: 8rem;

    @include media(tb) {
      margin-top: 5.5rem;
    }
  }

  &__btn-box {
    margin-top: 2.5rem;

    @include media(tb) {
      margin-top: 4rem;
    }
  }

  &__2col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 3rem;

    @include media(tb) {
      flex-direction: row;
      align-items: flex-start;
    }

    img {
      flex-shrink: 0;
      width: 93%;
      margin: 0 auto;

      @include media(tb) {
        width: 22rem;
        margin: 0;
      }
    }

    &.-resources {
      img {
        @include media(tb) {
          width: 30rem;
        }
      }
    }
  }
}

.p-ttl-txt-box {
  margin-top: 3.5rem;
  text-align: center;

  @include media(tb) {
    margin-top: 4.5rem;
  }

  &__ttl {
    font-weight: bold;
    color: $color_dark-brown;
    text-align: left;
    margin-bottom: 1.5rem;
    @include fontsize(18, 20);

    @include media(tb) {
      margin-bottom: 0.5rem;
    }
  }

  &__btn-box {
    margin-top: 2.5rem;
  }
}

@keyframes fadeinAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.p-img-right-btm-box {
  display: flex;

  &+& {
    margin-top: 5rem;

    @include media(tb) {
      margin-top: 6rem;
    }
  }

  &.-influence03 {
    @include media(tb) {
      margin-bottom: 3rem;
    }
  }

  &__space {
    float: right;
    height: calc(100% - 15rem);

    /*画像上の余白の高さ*/
    @include media(tb) {
      height: calc(100% - 22rem);
    }

    &.-influence {
      height: calc(100% - 12rem);

      /*画像上の余白の高さ*/
      @include media(tb) {
        height: calc(100% - 24rem);
      }
    }

    &.-influence03 {
      height: calc(100% - 12rem);

      /*画像上の余白の高さ*/
      @include media(tb) {
        height: calc(100% - 26rem);
      }
    }
  }

  &__img {
    float: right;
    clear: both;
    height: 13rem;
    margin: 0 0 0 3rem;
    width: auto;

    @include media(tb) {
      height: 22rem;
      margin: 0 3rem 0 4.5rem;
    }

    &.-influence01 {
      height: 14rem;

      @include media(tb) {
        height: 24rem;
        margin-right: 4rem;
      }
    }

    &.-influence02 {
      height: 14rem;

      @include media(tb) {
        height: 24rem;
        margin-right: 5rem;
        margin-top: -1rem;
      }
    }

    &.-ptsd {
      height: 13.8rem;

      @include media(tb) {
        height: 23rem;
      }
    }

    &.-references {
      height: 13.8rem;

      @include media(tb) {
        height: 27rem;
        margin-right: 0;
      }
    }
  }
}

.p-movie-right-btm-box {
  display: flex;

  &+& {
    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 1px solid $color_beige;

    @include media(tb) {
      margin-top: 6rem;
      padding-top: 6rem;

    }
  }

  >div {
    display: flex;
    flex-direction: column;
    width: 100%;

    @include media(tb) {
      display: block;
    }
  }

  &__img {
    width: auto;
    order: 3;
    margin-top: 2rem;

    @include media(tb) {
      float: right;
      clear: both;
      width: 27rem;
      margin: 0 0 0 4.5rem;
    }

    img {
      &:nth-of-type(n+2) {
        margin-top: 3rem;

        @include media(tb) {
          margin-top: 3rem;

        }
      }
    }
  }
}

.p-modal {
  display: none;

  &__ttl {
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    color: $color_dark-brown;
    @include fontsize(18, 30);

    @include media(tb) {
      margin-bottom: 1rem;
    }
  }

  &__txt-box {
    color: $color_font;

    p+p {
      margin-top: 1.5em;
    }
  }

  &__2col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;

    @include media(tb) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      gap: 0 3rem;
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    margin-top: 2rem;

    @include media(tb) {
      margin-top: 3.5rem;
    }
  }

  &__btn {
    width: min(calc(50% - 0.5rem), 14rem);

    @include media(tb) {
      width: 24rem;
    }
  }

  &__inner {
    display: none;
    animation: fadeinAnime 2s forwards;
    text-align: center;

    &.active {
      display: block;
    }

    &.-movie {
      video {
        width: 100%;
      }
    }
  }

  &__input-txt {
    border: 1px solid #999999;
    border-radius: 1rem;
    width: 100%;
    padding: 2rem;
    font-family: inherit;
    margin-top: 2rem;
    @include fontsize(14, 16);

    &::placeholder {
      color: #999999;
    }

    @include media(tb) {
      width: 40rem;
      padding: 3rem 2rem;
      margin-top: 5rem;
    }
  }

  &__img {
    width: 17.6rem;

    @include media(tb) {
      width: 21rem;
    }
  }
}

.modaal-container {
  border-radius: 1rem;

  @include media(tb) {
    border-radius: 3rem;
  }
}

.modaal-content-container {
  padding: 2.5rem 2rem 4rem;

  @include media(tb) {
    padding: 2.5rem 6rem 4rem;
  }
}

.p-modal-btn-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem 0;
  margin-top: 2rem;

  @include media(tb) {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem 2rem;
    margin-top: 3rem;
  }

  li {
    @include media(tb) {
      width: calc((100% - 2rem) / 2);
    }

    a {
      border: 1px solid $color_dark-brown;
      font-weight: bold;
      height: 6rem;
      display: flex;
      align-items: center;
      padding-left: 2rem;
      border-radius: 0.6rem;
      background: $color_orange-gray;
      position: relative;
      color: $color_dark-brown;
      @include fontsize(13, 20);

      @include media(tb) {
        height: 10rem;
        padding-left: 3rem;
        border-radius: 1rem;
      }

      & {
        @include hover;
      }

      &::before {
        content: '\f2d2';
        @include absolute($right:0.8rem, $bottom:0);
        @include fontAwesome__sol;
        @include fontsize(14, 16);

        @include media(tb) {
          right: 1.1rem;
        }
      }
    }
  }
}

.p-checklist {
  background: $color_orange-gray;
  text-align: center;
  padding: 2.5rem;
  border-radius: 1rem;

  @include media(tb) {
    padding: 3rem 6rem 4rem;
    border-radius: 3rem;
  }

  &__txt1 {
    margin-bottom: 1.5rem;
    text-align: center;
    @include fontsize(14, 18);
  }

  &__item {
    border-top: 1px solid $color_beige;
    padding: 1.5rem 1.5rem 1.5rem 0.6rem;
    display: flex;
    align-items: center;
    gap: 0 2rem;
    text-align: left;
    @include fontsize(14, 18);

    @include media(tb) {
      line-height: 1.78;
      min-height: 10rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $color_beige;
      margin-bottom: 3rem;

      @include media(tb) {
        margin-bottom: 4rem;
      }
    }

    input[type=checkbox] {
      display: none;

      &:checked {
        &+.icon {
          &::before {
            content: '\f14a';
          }
        }
      }
    }

    .icon {
      position: relative;
      background: #fff;
      line-height: 0.8;
      cursor: pointer;
      @include fontsize(20, 36);

      & {
        @include hover;
      }

      &::before {
        content: '\f0c8';
        color: $color_light-orange;
        @include fontAwesome__reg;
      }
    }
  }
}

.p-result {
  &__txt-box {
    border: 2px solid $color_light-orange;
    text-align: center;
    line-height: 1.56;
    border-radius: 1rem;
    padding: 1rem 0;
    margin-bottom: 1.5rem;
    @include fontsize(18, 24);

    @include media(tb) {
      margin-bottom: 2rem;
    }
  }

  &__btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;
    margin-top: 4rem;
  }
}

.p-doc-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem 2rem;
  min-height: 80vh;

  @include media(tb) {
    gap: 3.5rem 3rem;
    margin-top: 3rem;
  }

  li {
    width: calc((100% - 2rem) / 2);

    @include media(tb) {
      width: calc((100% - 6rem) / 3);
    }
  }

  a {
    color: $color_font;
    line-height: 1.67;
    @include hover;

    @include media(tb) {
      line-height: 1.75;
    }

    img {
      margin-bottom: 0.5rem;
      aspect-ratio: 300 / 225;
      object-fit: contain;
    }
  }

  dl {
    @include fontsize(12, 16);

    dt {
      font-weight: bold;
    }
  }

  &__tag {
    background: $color_light-brown;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    width: 8rem;
    border-radius: 2rem;
    text-align: center;
    padding: 0.3rem 0;
    margin-top: 0.5rem;
    @include fontsize(11, 14);

    @include media(tb) {
      width: auto;
      padding: 0.3rem 2rem;
      margin-top: 1rem;
    }
  }
}

.p-cont-others {
  padding-bottom: 3rem;

  @include media(tb) {
    padding-bottom: 6rem;
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-template-areas: "ttl"
      "img"
      "txt"
      "btn";

    @include media(tb) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 1fr;
      column-gap: 4rem;
      grid-template-areas: "img ttl"
        "img txt"
        "img btn";
      margin-top: 2rem;
    }
  }

  &__img {
    grid-area: img;
    margin-bottom: 1.5rem;

    @include media(tb) {
      margin-bottom: 0;
    }
  }

  &__ttl {
    grid-area: ttl;
    font-weight: bold;
    color: $color_dark-brown;
    line-height: 1.56;
    margin-bottom: 1rem;
    @include fontsize(18, 24);

    @include media(tb) {
      margin-bottom: 3rem;
    }
  }

  &__txt {
    grid-area: txt;
    margin-bottom: 2.5rem;

    @include media(tb) {
      line-height: 2;
    }
  }

  &__btn {
    grid-area: btn;
    text-align: center;

    @include media(tb) {
      text-align: left;
    }
  }
}

.p-cont-video {
  padding-bottom: 3rem;

  @include media(tb) {
    padding-bottom: 5rem;
  }

  &__ttl {
    font-weight: bold;
    color: $color_dark-brown;
    line-height: 1.56;
    margin-bottom: 1rem;
    @include fontsize(18, 24);

    @include media(tb) {
      margin: 1rem 0 2rem;
    }
  }

  &__frame {
    aspect-ratio: 16 / 9;
    position: relative;
    margin-bottom: 1.5rem;

    @include media(tb) {
      margin-bottom: 2rem;
    }

    iframe {
      width: 100%;
      height: 100%;
      @include absolute($top:0, $left:0);
    }
  }

  &__txt {
    margin-bottom: 1.5rem;

    @include media(tb) {
      margin-bottom: 2.5rem;
    }
  }

  &__cat-box {
    background: #fff;
    border-radius: 1rem;
    padding: 2rem 2.5rem;

    @include media(tb) {
      border-radius: 3rem;
      padding: 3.5rem 5.5rem 2rem;
    }

    &.-manga {
      margin-top: 3rem;

      @include media(tb) {
        margin-top: 4rem;
      }
    }

    &+& {
      margin-top: 3rem;
    }

    p+p {
      margin-top: 1.5em;
    }
  }

  &__h2 {
    font-weight: bold;
    color: $color_dark-brown;
    line-height: 1.86;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid $color_light-brown;

    @include media(tb) {
      padding-bottom: 0.8rem;
      margin-bottom: 1rem;
    }
  }
}

.p-manga-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 1rem;
  margin-top: 3rem;

  @include media(tb) {
    margin-top: 7rem;
  }

  li:not(.next, .prev) {

    >a,
    >span:not(.dot) {
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      border: 1px solid $color_light-brown;
      color: $color_light-brown;
      background: #fff;
      transition: all 0.3s;
      @include fontsize(18, 18);
    }

    >a {
      &:hover {
        color: #fff;
        background: $color_light-brown;
      }
    }

    >span {
      &:not(.dot) {
        color: #fff;
        background: $color_light-brown;
      }

      &.dot {
        color: $color_light-brown;
        @include fontsize(18, 18);
      }
    }
  }

  .next,
  .prev {
    line-height: 1;
    margin: 0 1rem;
    @include fontsize(28, 18);

    a {
      color: $color_light-brown;
      @include hover;
    }
  }
}

.p-voice {
  padding-bottom: 3rem;

  @include media(tb) {
    padding-bottom: 8rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;

    @include media(tb) {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 3rem 4rem;
    }

    li {
      padding: 1.5rem;
      border-radius: 1rem;
      background: #fff;
      @include clearfix;

      @include media(tb) {
        padding: 2rem 2.5rem;
        width: calc((100% - 4rem) / 2);
      }

      p {
        line-height: 1.86;

        @include media(tb) {
          line-height: 1.75;
        }
      }
    }
  }

  &__figure {
    float: left;
    margin: 1rem 2rem 0 1.5rem;

    @include media(tb) {
      margin: 0.5rem 2rem 0 0;
    }

    img {
      width: 8.1rem;
      border-radius: 50%;

      @include media(tb) {
        width: 10rem;
      }
    }

    figcaption {
      display: block;
      text-align: center;
    }
  }
}

.p-sv {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
  min-height: 13rem;

  @include media(tb) {
    padding: 0;
  }

  &__img {
    width: 12rem;

    @include media(tb) {
      width: 16.7rem;
    }

    &.-privacy {
      width: 12rem;

      @include media(tb) {
        width: 22rem;
      }
    }

    &.-privacy {
      width: 12rem;

      @include media(tb) {
        width: 22rem;
      }
    }
  }

  &__ttl {
    font-weight: bold;
    color: $color_dark-brown;
    @include fontsize(20, 36);
  }
}

.p-sv-02 {
  background: $color_light-brown;
  color: #fff;
  text-align: center;
  padding: 3.6rem 0;

  @include media(tb) {
    padding: 2.9rem 0;
  }

  h1 {
    @include fontsize(20, 36);
  }
}

.p-expert {
  padding: 3rem 0;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }
}

.p-references {
  padding: 3rem 0;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__box {

    &+& {
      border-top: 1px solid $color_beige;
      margin-top: 1.5rem;
      padding-top: 1.5rem;

      @include media(tb) {
        margin-top: 3rem;
        padding-top: 3rem;
      }
    }


  }

  &__btn {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    @include media(tb) {
      margin-top: 2rem;
      margin-left: 0;

    }
  }
}


.p-movie {
  padding: 3rem 0;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__box {

    &+& {
      border-top: 1px solid $color_beige;
      margin-top: 1.5rem;
      padding-top: 1.5rem;

      @include media(tb) {
        margin-top: 3rem;
        padding-top: 3rem;
      }
    }


  }

  &__btn {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;

    @include media(tb) {
      margin-top: 2rem;

    }
  }
}

.p-assessment_tool {
  padding: 3rem 0;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__box {

    &+& {
      border-top: 1px solid $color_beige;
      margin-top: 1.5rem;
      padding-top: 1.5rem;

      @include media(tb) {
        margin-top: 3rem;
        padding-top: 3rem;
      }
    }


  }

  &__btn {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 100%;

    @include media(tb) {
      margin-top: 2rem;
      margin-left: 0;
      width: 30rem;
    }
  }
}

.p-assessment_tool-detaile {
  padding: 2.5rem 0 4rem;
  text-align: center;

  @include media(tb) {
    padding: 4rem 0 6rem;
  }

  &__txt {
    margin: 1.5rem 0 1.7rem;

    @include media(tb) {
      margin: 2rem 0 3.7rem;
    }
  }

  &__box {
    background: $color_orange-gray;
    border-radius: 1rem;
    padding: 3rem 2rem;
    text-align: left;

    @include media(tb) {
      border-radius: 3rem;
      padding: 4rem;
    }

    h3 {
      color: $color_dark-brown;
      margin-bottom: 2rem;
      @include fontsize(18, 22);

      @include media(tb) {
        margin-bottom: 2rem;
      }

      &:nth-of-type(n+2) {
        margin-top: 3rem;
      }
    }

    dl {

      &:nth-of-type(2) {
        @include media(tb) {
          margin-top: 4rem;
        }
      }

      dt {
        font-weight: 600;
      }

      dd {
        margin-left: 1em;
      }
    }

  }


}

.p-wp-pagination {
  padding-bottom: 3.5rem;

  @include media(tb) {
    padding-bottom: 5rem;
  }

  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 1rem;
    font-weight: bold;
    @include fontsize(16, 16);

    .page-numbers {
      &:not(.prev, .next, .dots) {
        width: 4rem;
        height: 4rem;
        border: 1px solid $color_light-brown;
        background: #fff;
        color: $color_dark-brown;
        transition: all 0.3s;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
          background: $color_dark-brown;
          color: #fff;
        }

        &.current {
          background: $color_dark-brown;
          color: #fff;
          cursor: auto;
        }
      }

      &.prev,
      &.next {
        color: $color_light-brown;
        @include fontsize(28, 18);

        & {
          @include hover;
        }
      }

      &.prev {
        @include media(tb) {
          margin-right: 1rem;
        }
      }

      &.next {
        @include media(tb) {
          margin-left: 1rem;
        }
      }
    }
  }
}

.p-reg {
  &__sec {
    &+& {
      margin-top: 6rem;

      @include media(tb) {
        margin-top: 5rem;
      }
    }

    h2 {
      font-weight: bold;
      color: $color_dark-brown;
      text-align: center;
      margin-bottom: 1.5rem;
      @include fontsize(18, 24);

      @include media(tb) {
        margin-bottom: 0.5rem;
      }
    }

    p {
      &+p {
        margin-top: 1.5em;

        @include media(tb) {
          margin-top: 2em;
        }
      }
    }
  }
}

.p-form {

  &__h1 {
    font-weight: bold;
    color: $color_dark-brown;
    font-family: "Zen Maru Gothic",
      sans-serif;
    margin-bottom: 1rem;
    @include fontsize(18, 24);

    @include media(tb) {
      margin-bottom: 2rem;
    }
  }

  #wpmem_login {
    width: 100%;
  }

  .wpmem_msg {
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    margin-bottom: 40px;

    a {
      color: $color_light-orange;
      text-decoration: underline;

      & {
        @include hover;
      }
    }
  }

  &__row {
    border-top: 1px solid $color_beige;
    padding: 1rem 0 1.4rem;
    position: relative;

    @include media(tb) {
      padding: 1.8rem 0;
    }

    &.-no-border {
      padding-top: 0;
      border-top: none;
      margin-top: -1rem;
    }
  }

  #wpmem_reg,
  #wpmem_login {
    width: 100%;

    .p-form__row {
      text-align: left;

      @include media(tb) {
        padding-left: 25rem;
      }

      label.text,
      label.multicheckbox:not([for*="["]),
      label.textarea {
        color: $color_dark-brown;
        font-family: "Zen Maru Gothic",
          sans-serif;
        font-weight: bold;
        width: 100%;
        display: block;
        margin: 0 0 0.7rem;
        padding: 0 0 0 4rem;
        text-align: left;
        position: relative;
        @include fontsize(16, 18);

        @include media(tb) {
          width: 22rem;
          left: 0;
          padding-left: 6rem;
          margin: 0;
          display: inline-block;
          @include center(y);
        }
      }

      label.multicheckbox[for*="["] {
        color: $color_font;
        font-family: "Zen Maru Gothic",
          sans-serif;
        cursor: pointer;
        width: auto;
        padding: 0 1.5rem 0 0;
        @include hover;
      }

      label[for='log'],
      label[for='pwd'] {
        color: $color_font;
        font-family: "Zen Maru Gothic",
          sans-serif;
        white-space: nowrap;
        width: 28rem;
        flex-shrink: 0;
        @include fontsize(14, 18);
      }

      .req {
        color: #fff;
        display: inline-block;
        line-height: 1;
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
        background: $color_light-orange;
        @include fontsize(12.6, 14);

        & {
          @include absolute($bottom:0.3rem, $left:0);
        }

        @include media(tb) {
          padding: 0.4rem 0.7rem;
          bottom: 50%;
          left: 1rem;
          transform: translateY(50%);
        }
      }

      input[type=text],
      input[type=textarea],
      input[type=email],
      textarea.textarea,
      input[type=password] {
        width: 100%;
        font-family: "Zen Maru Gothic",
          sans-serif;
        border-radius: 1rem;
        border: 1px solid #999999;
        padding: 2rem 1rem;
        @include fontsize(14, 16);

        @include media(tb) {
          padding: 1.8rem 2rem;
        }

        &::placeholder {
          color: #999999;
        }
      }

      textarea.textarea#occupation_others {
        height: 8rem;
      }

      input[type=checkbox] {
        display: none;

        &:checked {
          &+label .icon {
            &::before {
              content: '\f14a';
            }
          }
        }
      }

      .icon {
        background: #fff;
        line-height: 1.4;
        cursor: pointer;
        margin-right: 0.5rem;
        @include fontsize(19, 22);

        & {
          @include hover;
        }

        &::before {
          content: '\f0c8';
          color: $color_light-orange;
          @include fontAwesome__reg;
        }

        &+label.multicheckbox {
          font-family: "Zen Maru Gothic",
            sans-serif;
          font-weight: bold;
          color: $color_font;
          width: auto;
          display: inline-block;
          padding: 0;
          margin-right: 1rem;
          @include fontsize(14, 16);
        }
      }

      label[for="purpose"] {
        @include media(tb) {
          position: absolute;
          top: 3rem;
          left: 0;
        }

        &::before {
          content: '任意';
          background: $color_light-brown;
          color: #fff;
          display: inline-block;
          line-height: 1;
          padding: 0.2rem 0.5rem;
          border-radius: 0.5rem;
          @include fontsize(12.6, 14);

          & {
            @include absolute($bottom:0.5rem, $left:0);
          }

          @include media(tb) {
            left: 1rem;
          }
        }
      }

      label[for="occupation_others"] {
        display: none !important;
      }
    }

    .button_div {
      text-align: center;
      padding-top: 2rem;

      @include media(tb) {
        width: 100%;
        padding-top: 3rem;
      }
    }

    p>img {
      width: 14rem;
      margin: 2rem 0 1rem;
      border: 1px solid #ccc;
    }

    label[for='siteguard_captcha'] {
      font-family: "Zen Maru Gothic",
        sans-serif;
      color: $color_font;
      margin-top: 0.5rem;
      @include fontsize(14, 16);
    }

    input[name='siteguard_captcha'] {
      width: 100%;
      font-family: "Zen Maru Gothic",
        sans-serif;
      border-radius: 1rem;
      border: 1px solid #999999;
      padding: 2rem 1rem;
      @include fontsize(14, 16);

      @include media(tb) {
        padding: 1.8rem 2rem;
      }
    }
  }

  #wpmem_login {
    @include media(tb) {
      width: 50rem;
      margin-left: auto;
      margin-right: auto;
    }

    .p-form__row,
    .button_div {
      border: none;

      @include media(tb) {
        padding-left: 0;
      }

      input[type=text],
      input[type=password] {
        @include media(tb) {
          width: 100%;
        }
      }
    }

    .button_div {

      label[for="rememberme"] {
        font-family: "Zen Maru Gothic",
          sans-serif;
        color: $color_font;
        @include fontsize(16, 16);
      }
    }
  }
}

.p-mypage {
  &__profile {
    margin-bottom: 1rem;

    #wpmem_login {
      @include media(tb) {
        width: 100%;
      }

      .p-form__row {
        @include media(tb) {
          display: flex;
          align-items: center;
          gap: 0 3rem;
          padding-left: 0;
        }

        label[for='user'],
        label[for='user_email'],
        label[for='pass1'],
        label[for='pass2'] {
          font-family: "Zen Maru Gothic",
            sans-serif;
          color: $color_dark-brown;
          white-space: nowrap;
          @include fontsize(16, 18);

          @include media(tb) {
            width: 22rem;
            flex-shrink: 0;
          }
        }

        label[for='user'] {
          @include media(tb) {
            width: auto;
          }
        }
      }
    }

    ul {
      li {
        text-align: center;

        a {
          @include fontsize(16, 16);

          & {
            @include hover;
          }
        }

        &:first-of-type {
          a {
            width: 24rem;
            height: 5rem;
            border-radius: 2.5rem;
            background: $color_light-orange;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 auto 2rem;

            @include media(tb) {
              margin-bottom: 1rem;
            }
          }
        }

        &:nth-of-type(2) {
          a {
            color: $color_light-orange;
            text-decoration: underline;
          }
        }
      }
    }
  }

  &__btn-box {
    display: flex;
    justify-content: center;
    gap: 0 1rem;
    padding: 2rem 0;

    @include media(tb) {
      padding: 3rem 0;
    }

    a {
      width: 14rem;
      flex-shrink: 0;

      @include media(tb) {
        width: 18rem;
      }
    }
  }

  &__getusername-txt {
    margin-bottom: 3rem;
  }
}

.p-mypage-table {
  width: 100%;
  margin-bottom: 1.5rem;

  @include media(tb) {
    margin-bottom: 3.5rem;
  }

  tr {
    display: block;
    border-top: 1px solid $color_beige;

    &:last-of-type {
      border-bottom: 1px solid $color_beige;
    }

    @include media(tb) {
      display: table-row;
    }
  }

  th {
    font-weight: bold;
    text-align: left;
    color: $color_light-brown;
    padding: 1rem 0 0;
    display: block;
    @include fontsize(16, 18);

    @include media(tb) {
      display: table-cell;
      width: 19rem;
      vertical-align: middle;
      padding: 3.1rem 0 3.1rem 1rem;
    }
  }

  td {
    text-align: left;
    display: block;
    color: $color_font;
    padding: 0.8rem 2rem 2rem 1rem;

    @include media(tb) {
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 0;
    }
  }
}

.p-comp {
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;

  &__h1 {
    color: $color_dark-brown;
    text-align: center;
    margin-bottom: 3rem;
    @include fontsize(22, 36);
  }

  &__txt {
    text-align: center;
    @include fontsize(20, 24);
  }
}

.p-login {
  @include fontsize(16, 18);

  &__txt {
    text-align: center;
    line-height: 1.8;
  }

  &__btn-box {
    margin: 1rem 0 3rem;

    @include media(tb) {
      margin-bottom: 5rem;
    }
  }
}

#wpmem_pwdreset_form {
  .p-form__h1 {
    text-align: center;
    color: $color_font;
    @include fontsize(16, 18);
  }
}

.p-delete {
  padding-top: 3rem;

  @include media(tb) {
    padding-top: 6.5rem;
  }

  &__txt {
    text-align: center;
    font-weight: bold;
    @include fontsize(20, 24);

    &+& {
      margin-top: 1rem;

      @include media(tb) {
        margin-top: 0.5rem;
      }
    }
  }

  &__txt2 {
    text-align: center;
    margin-bottom: 1rem;
    @include fontsize(14, 24);

    @include media(tb) {
      margin-bottom: 0;
    }
  }

  &__btn-box {
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem 0;

    @include media(tb) {
      flex-direction: row;
      justify-content: center;
      gap: 0 1rem;
      margin: 3rem 0 4rem;
    }
  }
}

.p-contact {
  input[type=submit] {
    margin-top: 2rem;

    @include media(tb) {
      margin-top: 4rem;
    }
  }

  &__h1 {
    text-align: center;
    font-weight: bold;
    color: $color_dark-brown;
    margin-bottom: 0.5rem;
    @include fontsize(18, 24);

    @include media(tb) {
      margin-bottom: 1.5rem;
    }
  }

  &__item {
    border-top: 1px solid $color_beige;
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 1.4rem 0;

    @include media(tb) {
      flex-direction: row;
      padding: 2rem 1rem;
    }

    &.-align-start {
      align-items: flex-start;
      border-bottom: 1px solid $color_beige;

      label {
        @include media(tb) {
          margin-top: 1rem;
        }
      }
    }

    &>span {
      flex: 1;
    }

    label {
      font-weight: bold;
      display: flex;
      align-items: center;
      line-height: 1;
      gap: 0 1rem;
      color: $color_dark-brown;
      width: 21rem;
      flex-shrink: 0;
      @include fontsize(16, 18);

      span {
        background: $color_light-orange;
        color: #fff;
        border-radius: 0.5rem;
        padding: 0.3rem 0.7rem;
        @include fontsize(12.6, 14);
      }
    }

    input,
    textarea {
      border: 1px solid #999999;
      font-family: "Zen Maru Gothic",
        sans-serif;
      border-radius: 1rem;
      padding: 2rem;
      width: 100%;
      @include fontsize(14, 16);

      &::placeholder {
        color: #999999;
      }

      @include media(tb) {
        padding: 1.7rem 2rem;
      }
    }

    textarea {
      height: 16.5rem;
    }
  }

  .wpcf7-not-valid-tip {
    text-align: left;
  }
}

// footer
.p-ftr {
  padding: 1.5rem 0;

  @include media(tb) {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem 0;
    padding: 5rem 0 3.5rem;
  }

  &__h1 {
    text-align: center;
    margin-bottom: 0.5rem;
    @include fontsize(32, 36);

    @include media(tb) {
      margin-bottom: 0;
      margin-right: 6%;
      line-height: 1;
    }

    a {
      display: inline-block;
      color: inherit;
      @include hover;
    }
  }

  &__list-01 {
    display: flex;
    gap: 0 3.5rem;

    @include media(tb) {
      gap: 0 0;
    }

    dd {
      width: calc((100% - 3.5rem) / 2);

      @include media(tb) {
        width: 30rem;
      }
    }
  }

  &__list-02 {
    display: flex;
    gap: 0 3.5rem;
    margin-top: 3rem;

    @include media(tb) {
      flex-direction: column;
      gap: 3rem 0;
      margin-top: 0;
      width: 17%;
    }

    dd {
      width: calc((100% - 3.5rem) / 2);

      @include media(tb) {
        width: auto;
      }
    }
  }


  &__ttl {
    font-weight: bold;
    margin-bottom: 0.5rem;
    @include fontsize(14, 14);

    a {
      color: inherit;
      @include hover;
    }
  }

  &__sub-list {
    li {
      position: relative;
      padding-left: 1rem;
      line-height: 1.5;
      @include fontsize(12, 12);

      a {
        color: inherit;
        @include hover;
      }

      &::before {
        content: '-';
        @include absolute($top:0, $left:0);
      }

      &+li {
        margin-top: 0.8rem;
      }
    }

    &+.p-ftr__ttl {
      margin-top: 2rem;

      @include media(tb) {
        margin-top: 3rem;
      }
    }
  }

  &__logo {
    margin: 0 auto 3rem;
    width: 24rem;
  }

  &__info-box {
    background: #fff;
    border-radius: 1.5rem;
    padding: 3rem 0 1.5rem;
    margin-top: 3rem;
    @include fontsize(14, 14);

    @include media(tb) {
      margin-top: 0;
      width: 28rem;
      padding: 3rem 2rem 2rem;
    }

    p {
      text-align: center;
      line-height: 1.7;

      @include media(tb) {
        text-align: left;
      }

      &+p {
        margin-top: 1em;
      }
    }
  }

  &__btm-box {
    display: flex;
    flex-direction: column;
    gap: 2rem 0;

    @include media(tb) {
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 2rem;
    }
  }

  &__btm-list {
    display: flex;
    justify-content: center;
    @include fontsize(13, 14);

    @include media(tb) {
      margin-top: 0;
    }

    li {
      &+li {
        &::before {
          content: '｜';
          display: inline-block;
        }
      }

      a {
        color: inherit;
        @include hover;
      }
    }
  }

  &__cr {
    text-align: center;
    margin: 0 ($width-m-sp * -1);
    margin-bottom: 2rem;
    @include fontsize(10, 12);

    @include media(tb) {
      margin: 0;
    }
  }
}